/* Header */
.top-bar {
    padding: 2rem 0;
    background-color: #0d3650;
    color: white;
    text-align: center;

    @media (max-width: 768px) {
        padding: 2rem 0;
    }
}
.header {
    padding: 6rem 0;
    color: white;
    position: relative;

    @media (max-width: 768px) {
        padding: 2rem 0;
    }


    h2,
    h3 {
        font-weight: 400;
    }

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #09212f;
        background: linear-gradient(
            90deg,
            rgba(9, 33, 47, 1) 0%,
            rgba(255, 255, 255, 0) 100%
        );
        z-index: -1;

        @media (max-width: 768px) {
            background: rgba(9, 33, 47, 0.8);
        }
    }

    &:after {
        content: "";
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("../assets/header-bg.jpg");
        background-size: cover;
        z-index: -2;
    }

    .button-flex {
        display: flex;
        gap: 1em;
        margin-top: 35px;
    }
}
